<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Estacionamiento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>opUsuario</display-name>
    <servlet-name>opUsuario</servlet-name>
    <servlet-class>files.opUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opUsuario</servlet-name>
    <url-pattern>/opUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leerUID</display-name>
    <servlet-name>leerUID</servlet-name>
    <servlet-class>files.leerUID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leerUID</servlet-name>
    <url-pattern>/salidaentrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Operation</display-name>
    <servlet-name>Operation</servlet-name>
    <servlet-class>files.Operation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operation</servlet-name>
    <url-pattern>/operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>opPensionado</display-name>
    <servlet-name>opPensionado</servlet-name>
    <servlet-class>files.opPensionado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opPensionado</servlet-name>
    <url-pattern>/opPensionado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>operationPensionado</display-name>
    <servlet-name>operationPensionado</servlet-name>
    <servlet-class>files.operationPensionado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operationPensionado</servlet-name>
    <url-pattern>/operationpensionado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leerUIDPensionado</display-name>
    <servlet-name>leerUIDPensionado</servlet-name>
    <servlet-class>files.leerUIDPensionado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leerUIDPensionado</servlet-name>
    <url-pattern>/salidaentradapensionado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>opInvitado</display-name>
    <servlet-name>opInvitado</servlet-name>
    <servlet-class>files.opInvitado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opInvitado</servlet-name>
    <url-pattern>/opGuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>operationInvitado</display-name>
    <servlet-name>operationInvitado</servlet-name>
    <servlet-class>files.operationInvitado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operationInvitado</servlet-name>
    <url-pattern>/operationinvitado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvitadoSessions</display-name>
    <servlet-name>InvitadoSessions</servlet-name>
    <servlet-class>files.InvitadoSessions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitadoSessions</servlet-name>
    <url-pattern>/entradainvitado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invitadoSalidaSession</display-name>
    <servlet-name>invitadoSalidaSession</servlet-name>
    <servlet-class>files.invitadoSalidaSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invitadoSalidaSession</servlet-name>
    <url-pattern>/operationinvitadosalida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leerUIDInvitado</display-name>
    <servlet-name>leerUIDInvitado</servlet-name>
    <servlet-class>files.leerUIDInvitado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leerUIDInvitado</servlet-name>
    <url-pattern>/salidainvitado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pagoInvitado</display-name>
    <servlet-name>pagoInvitado</servlet-name>
    <servlet-class>files.pagoInvitado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagoInvitado</servlet-name>
    <url-pattern>/acercatransaccionsalida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UIDPago</display-name>
    <servlet-name>UIDPago</servlet-name>
    <servlet-class>files.UIDPago</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UIDPago</servlet-name>
    <url-pattern>/pagosalida</url-pattern>
  </servlet-mapping>
</web-app>